USE [master]
GO
/****** Object:  Database [transportit]    Script Date: 26/9/2023 19:10:10 ******/
CREATE DATABASE [transportit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'transportit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\transportit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'transportit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\transportit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [transportit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [transportit]
GO
/****** Object:  User [sqlserver]    Script Date: 26/9/2023 19:10:11 ******/
CREATE USER [sqlserver] FOR LOGIN [sqlserver] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[_user]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_user](
	[firstname] [varchar](255) NOT NULL,
	[lastname] [varchar](255) NOT NULL,
	[_document] [char](8) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[mail] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[_user] [bigint] IDENTITY(1,1) NOT NULL,
	[deleted] [datetime] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[cityId] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cityXcity]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cityXcity](
	[cityFrom] [bigint] NOT NULL,
	[cityTo] [bigint] NOT NULL,
	[feeCoefficient] [numeric](5, 2) NULL,
	[distanceKm] [numeric](7, 2) NULL,
 CONSTRAINT [PK_cityXcity] PRIMARY KEY CLUSTERED 
(
	[cityFrom] ASC,
	[cityTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customerId] [bigint] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](20) NOT NULL,
	[lastname] [varchar](20) NOT NULL,
	[address] [varchar](30) NULL,
	[deleted] [datetime] NULL,
	[_document] [char](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driver]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driver](
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[_document] [char](8) NOT NULL,
	[address] [varchar](50) NULL,
	[province] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[phone] [varchar](20) NOT NULL,
	[particular] [bit] NOT NULL,
	[available] [bit] NOT NULL,
	[currentcityid] [bigint] NULL,
	[deleted] [datetime] NULL,
	[driverId] [bigint] IDENTITY(1,1) NOT NULL,
	[feeId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[driverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fee]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fee](
	[kgprice] [numeric](10, 2) NOT NULL,
	[kmprice] [numeric](10, 2) NULL,
	[feetype] [bigint] NOT NULL,
	[cm3price] [numeric](10, 2) NULL,
	[registrationDate] [datetime] NOT NULL,
	[endDate] [datetime] NULL,
	[feeId] [bigint] IDENTITY(1,1) NOT NULL,
	[driverId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[feeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feeType]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feeType](
	[description] [varchar](50) NOT NULL,
	[feeTypeId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movement]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movement](
	[movement] [bigint] NOT NULL,
	[amounttopay] [numeric](10, 2) NOT NULL,
	[movementtype] [bigint] NOT NULL,
	[driver] [bigint] NULL,
	[routmap] [bigint] NULL,
	[_package] [bigint] NULL,
	[shippingrequest] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[movement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[package]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[package](
	[packageId] [bigint] IDENTITY(1,1) NOT NULL,
	[weight] [numeric](7, 2) NULL,
	[size] [numeric](7, 2) NULL,
	[requestId] [bigint] NOT NULL,
	[price] [numeric](8, 2) NULL,
	[state] [bigint] NOT NULL,
	[routeMapId] [bigint] NOT NULL,
	[feePricingId] [bigint] NOT NULL,
	[recipientDocument] [bigint] NOT NULL,
	[recipientFirstname] [bigint] NOT NULL,
	[cityFeeCoefficient] [numeric](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[packageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[park]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[park](
	[cityId] [bigint] NOT NULL,
	[parkId] [bigint] NOT NULL,
 CONSTRAINT [PK_parkCity] PRIMARY KEY CLUSTERED 
(
	[cityId] ASC,
	[parkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routeMap]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routeMap](
	[routeMapId] [bigint] IDENTITY(1,1) NOT NULL,
	[state] [int] NOT NULL,
	[payloadVolume] [numeric](12, 2) NOT NULL,
	[price] [numeric](15, 2) NOT NULL,
	[startDate] [date] NOT NULL,
	[driverId] [bigint] NOT NULL,
	[truckId] [bigint] NOT NULL,
	[trailerId] [bigint] NOT NULL,
	[endDate] [date] NOT NULL,
	[cityToId] [bigint] NOT NULL,
	[cityFromId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[routeMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shippingRequest]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shippingRequest](
	[requestId] [bigint] IDENTITY(1,1) NOT NULL,
	[price] [numeric](12, 3) NULL,
	[requestDate] [date] NOT NULL,
	[state] [int] NOT NULL,
	[cityFrom] [bigint] NOT NULL,
	[cityTo] [bigint] NOT NULL,
	[customerId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[requestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trailer]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trailer](
	[trailerId] [bigint] IDENTITY(1,1) NOT NULL,
	[weight] [numeric](7, 2) NOT NULL,
	[payloadWeight] [numeric](7, 2) NOT NULL,
	[registration] [varchar](16) NOT NULL,
	[available] [bit] NOT NULL,
	[parkId] [bigint] NULL,
	[cityId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[trailerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[truck]    Script Date: 26/9/2023 19:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[truck](
	[driver] [bigint] NULL,
	[registrationDate] [datetime] NOT NULL,
	[registration] [varchar](50) NOT NULL,
	[maxweight] [numeric](8, 2) NOT NULL,
	[available] [bit] NOT NULL,
	[city] [bigint] NULL,
	[truckId] [bigint] IDENTITY(1,1) NOT NULL,
	[deleted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[truckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[_user] ON 

INSERT [dbo].[_user] ([firstname], [lastname], [_document], [username], [mail], [password], [_user], [deleted]) VALUES (N'h', N'z', N'12      ', N'd', N'z', N'p', 1, NULL)
INSERT [dbo].[_user] ([firstname], [lastname], [_document], [username], [mail], [password], [_user], [deleted]) VALUES (N'Alejandro', N'Pérez', N'4323    ', N'aleperez', N'aleperez@gmail.com', N'$2a$12$zaejDpbvoDI7Hr2LRPY.aOplEwVtkQDKy5e7zKU6ka8H1OwrrpWKu', 2, NULL)
INSERT [dbo].[_user] ([firstname], [lastname], [_document], [username], [mail], [password], [_user], [deleted]) VALUES (N'María', N'López', N'1234    ', N'marialopez', N'marialopez@gmail.com', N'abcd', 3, NULL)
SET IDENTITY_INSERT [dbo].[_user] OFF
GO
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([cityId], [name]) VALUES (8, N'Mar del Plata')
INSERT [dbo].[city] ([cityId], [name]) VALUES (9, N'Buenos Aires')
INSERT [dbo].[city] ([cityId], [name]) VALUES (10, N'Córdoba')
GO
SET IDENTITY_INSERT [dbo].[city] OFF
GO
INSERT [dbo].[cityXcity] ([cityFrom], [cityTo], [feeCoefficient], [distanceKm]) VALUES (8, 9, CAST(1.40 AS Numeric(5, 2)), CAST(150.50 AS Numeric(7, 2)))
INSERT [dbo].[cityXcity] ([cityFrom], [cityTo], [feeCoefficient], [distanceKm]) VALUES (8, 12, CAST(2.30 AS Numeric(5, 2)), CAST(250.20 AS Numeric(7, 2)))
INSERT [dbo].[cityXcity] ([cityFrom], [cityTo], [feeCoefficient], [distanceKm]) VALUES (8, 15, CAST(2.10 AS Numeric(5, 2)), CAST(205.80 AS Numeric(7, 2)))
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customerId], [firstname], [lastname], [address], [deleted], [_document]) VALUES (1, N'Pepe', N'Gonzalez', NULL, NULL, N'11111111')
INSERT [dbo].[customer] ([customerId], [firstname], [lastname], [address], [deleted], [_document]) VALUES (2, N'Roberto', N'Gomez', N'Jara 3345', NULL, N'54354346')
INSERT [dbo].[customer] ([customerId], [firstname], [lastname], [address], [deleted], [_document]) VALUES (3, N'Martin', N'Loab', N'mitre 5654', NULL, N'56467654')
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[driver] ON 

INSERT [dbo].[driver] ([firstname], [lastname], [_document], [address], [province], [city], [phone], [particular], [available], [currentcityid], [deleted], [driverId], [feeId]) VALUES (N'Fernando', N'Cuevas', N'132334  ', N'Jara 3345', NULL, NULL, N'223-540-7679', 0, 0, 8, NULL, 8, NULL)
INSERT [dbo].[driver] ([firstname], [lastname], [_document], [address], [province], [city], [phone], [particular], [available], [currentcityid], [deleted], [driverId], [feeId]) VALUES (N'Tito', N'Rodriguez', N'65464567', N'Dirección Reall', NULL, NULL, N'223-540-3545', 0, 0, 8, NULL, 33, NULL)
INSERT [dbo].[driver] ([firstname], [lastname], [_document], [address], [province], [city], [phone], [particular], [available], [currentcityid], [deleted], [driverId], [feeId]) VALUES (N'Marita', N'Lopez', N'5465467 ', NULL, NULL, NULL, N'223-654-1543', 1, 1, 76, CAST(N'2023-09-17T18:37:01.983' AS DateTime), 34, NULL)
SET IDENTITY_INSERT [dbo].[driver] OFF
GO
SET IDENTITY_INSERT [dbo].[fee] ON 

INSERT [dbo].[fee] ([kgprice], [kmprice], [feetype], [cm3price], [registrationDate], [endDate], [feeId], [driverId]) VALUES (CAST(1.20 AS Numeric(10, 2)), CAST(1.10 AS Numeric(10, 2)), 1, NULL, CAST(N'2023-09-16T00:00:00.000' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[fee] ([kgprice], [kmprice], [feetype], [cm3price], [registrationDate], [endDate], [feeId], [driverId]) VALUES (CAST(1.30 AS Numeric(10, 2)), NULL, 2, CAST(1.10 AS Numeric(10, 2)), CAST(N'2023-09-16T00:00:00.000' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[fee] ([kgprice], [kmprice], [feetype], [cm3price], [registrationDate], [endDate], [feeId], [driverId]) VALUES (CAST(1.32 AS Numeric(10, 2)), CAST(1.10 AS Numeric(10, 2)), 1, NULL, CAST(N'2023-09-17T00:00:00.000' AS DateTime), CAST(N'2023-09-17T20:54:52.253' AS DateTime), 6, 36)
SET IDENTITY_INSERT [dbo].[fee] OFF
GO
INSERT [dbo].[feeType] ([description], [feeTypeId]) VALUES (N'Tarifa pago', 1)
INSERT [dbo].[feeType] ([description], [feeTypeId]) VALUES (N'Tarifa cobro', 2)
GO
INSERT [dbo].[park] ([cityId], [parkId]) VALUES (8, 1)
INSERT [dbo].[park] ([cityId], [parkId]) VALUES (8, 2)
INSERT [dbo].[park] ([cityId], [parkId]) VALUES (8, 3)
GO
SET IDENTITY_INSERT [dbo].[trailer] ON 

INSERT [dbo].[trailer] ([trailerId], [weight], [payloadWeight], [registration], [available], [parkId], [cityId]) VALUES (1, CAST(12540.34 AS Numeric(7, 2)), CAST(0.00 AS Numeric(7, 2)), N'AL4566LM', 1, 1, 8)
INSERT [dbo].[trailer] ([trailerId], [weight], [payloadWeight], [registration], [available], [parkId], [cityId]) VALUES (17, CAST(7915.37 AS Numeric(7, 2)), CAST(0.00 AS Numeric(7, 2)), N'AP2367ZD', 1, 2, 16)
INSERT [dbo].[trailer] ([trailerId], [weight], [payloadWeight], [registration], [available], [parkId], [cityId]) VALUES (22, CAST(13904.26 AS Numeric(7, 2)), CAST(0.00 AS Numeric(7, 2)), N'TD7251WJ', 1, 3, 61)
GO
SET IDENTITY_INSERT [dbo].[trailer] OFF
GO
SET IDENTITY_INSERT [dbo].[truck] ON 

INSERT [dbo].[truck] ([driver], [registrationDate], [registration], [maxweight], [available], [city], [truckId], [deleted]) VALUES (NULL, CAST(N'2023-09-16T00:00:00.000' AS DateTime), N'XY1234AB', CAST(16576.00 AS Numeric(8, 2)), 1, NULL, 1, NULL)
INSERT [dbo].[truck] ([driver], [registrationDate], [registration], [maxweight], [available], [city], [truckId], [deleted]) VALUES (NULL, CAST(N'2023-09-16T00:00:00.000' AS DateTime), N'ZR5678CD', CAST(29482.00 AS Numeric(8, 2)), 1, NULL, 2, NULL)
INSERT [dbo].[truck] ([driver], [registrationDate], [registration], [maxweight], [available], [city], [truckId], [deleted]) VALUES (NULL, CAST(N'2023-09-16T00:00:00.000' AS DateTime), N'FG9012EF', CAST(17134.00 AS Numeric(8, 2)), 1, NULL, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[truck] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_trailer_registration]    Script Date: 26/9/2023 19:10:11 ******/
ALTER TABLE [dbo].[trailer] ADD  CONSTRAINT [UN_trailer_registration] UNIQUE NONCLUSTERED 
(
	[registration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_truck_registration]    Script Date: 26/9/2023 19:10:11 ******/
ALTER TABLE [dbo].[truck] ADD  CONSTRAINT [UN_truck_registration] UNIQUE NONCLUSTERED 
(
	[registration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fee] ADD  CONSTRAINT [DF__fee__registratio__37703C52]  DEFAULT (getdate()) FOR [registrationDate]
GO
ALTER TABLE [dbo].[trailer] ADD  CONSTRAINT [DF_trailer_payloadWeight]  DEFAULT ((0)) FOR [payloadWeight]
GO
ALTER TABLE [dbo].[trailer] ADD  DEFAULT ((1)) FOR [available]
GO
ALTER TABLE [dbo].[truck] ADD  CONSTRAINT [DF_truck_registrationDate]  DEFAULT (getdate()) FOR [registrationDate]
GO
ALTER TABLE [dbo].[truck] ADD  CONSTRAINT [DF_truck_available]  DEFAULT ((1)) FOR [available]
GO
ALTER TABLE [dbo].[truck] ADD  DEFAULT (getdate()) FOR [deleted]
GO
ALTER TABLE [dbo].[cityXcity]  WITH CHECK ADD  CONSTRAINT [FK_cityFrom] FOREIGN KEY([cityFrom])
REFERENCES [dbo].[city] ([cityId])
GO
ALTER TABLE [dbo].[cityXcity] CHECK CONSTRAINT [FK_cityFrom]
GO
ALTER TABLE [dbo].[cityXcity]  WITH CHECK ADD  CONSTRAINT [FK_cityTo] FOREIGN KEY([cityTo])
REFERENCES [dbo].[city] ([cityId])
GO
ALTER TABLE [dbo].[cityXcity] CHECK CONSTRAINT [FK_cityTo]
GO
ALTER TABLE [dbo].[driver]  WITH CHECK ADD FOREIGN KEY([currentcityid])
REFERENCES [dbo].[city] ([cityId])
GO
ALTER TABLE [dbo].[driver]  WITH CHECK ADD FOREIGN KEY([feeId])
REFERENCES [dbo].[fee] ([feeId])
GO
ALTER TABLE [dbo].[fee]  WITH CHECK ADD  CONSTRAINT [FK_fee_driverId] FOREIGN KEY([driverId])
REFERENCES [dbo].[driver] ([driverId])
GO
ALTER TABLE [dbo].[fee] CHECK CONSTRAINT [FK_fee_driverId]
GO
ALTER TABLE [dbo].[fee]  WITH CHECK ADD  CONSTRAINT [FK_feetype] FOREIGN KEY([feetype])
REFERENCES [dbo].[feeType] ([feeTypeId])
GO
ALTER TABLE [dbo].[fee] CHECK CONSTRAINT [FK_feetype]
GO
ALTER TABLE [dbo].[movement]  WITH CHECK ADD  CONSTRAINT [FK_movement_driverId] FOREIGN KEY([driver])
REFERENCES [dbo].[driver] ([driverId])
GO
ALTER TABLE [dbo].[movement] CHECK CONSTRAINT [FK_movement_driverId]
GO
ALTER TABLE [dbo].[movement]  WITH CHECK ADD  CONSTRAINT [PackageFKFromMovement] FOREIGN KEY([_package])
REFERENCES [dbo].[package] ([packageId])
GO
ALTER TABLE [dbo].[movement] CHECK CONSTRAINT [PackageFKFromMovement]
GO
ALTER TABLE [dbo].[movement]  WITH CHECK ADD  CONSTRAINT [RouteMapFKFromMovement] FOREIGN KEY([routmap])
REFERENCES [dbo].[routeMap] ([routeMapId])
GO
ALTER TABLE [dbo].[movement] CHECK CONSTRAINT [RouteMapFKFromMovement]
GO
ALTER TABLE [dbo].[movement]  WITH CHECK ADD  CONSTRAINT [ShippingRequestFKFromMovement] FOREIGN KEY([shippingrequest])
REFERENCES [dbo].[shippingRequest] ([requestId])
GO
ALTER TABLE [dbo].[movement] CHECK CONSTRAINT [ShippingRequestFKFromMovement]
GO
ALTER TABLE [dbo].[package]  WITH CHECK ADD  CONSTRAINT [FK_feePricingId] FOREIGN KEY([feePricingId])
REFERENCES [dbo].[fee] ([feeId])
GO
ALTER TABLE [dbo].[package] CHECK CONSTRAINT [FK_feePricingId]
GO
ALTER TABLE [dbo].[package]  WITH CHECK ADD  CONSTRAINT [FK_package_shippingRequest] FOREIGN KEY([requestId])
REFERENCES [dbo].[shippingRequest] ([requestId])
GO
ALTER TABLE [dbo].[package] CHECK CONSTRAINT [FK_package_shippingRequest]
GO
ALTER TABLE [dbo].[park]  WITH CHECK ADD  CONSTRAINT [FK_park_city] FOREIGN KEY([cityId])
REFERENCES [dbo].[city] ([cityId])
GO
ALTER TABLE [dbo].[park] CHECK CONSTRAINT [FK_park_city]
GO
ALTER TABLE [dbo].[routeMap]  WITH CHECK ADD FOREIGN KEY([cityFromId])
REFERENCES [dbo].[city] ([cityId])
GO
ALTER TABLE [dbo].[routeMap]  WITH CHECK ADD FOREIGN KEY([cityToId])
REFERENCES [dbo].[city] ([cityId])
GO
ALTER TABLE [dbo].[routeMap]  WITH CHECK ADD  CONSTRAINT [FK_routeMap_driverId] FOREIGN KEY([driverId])
REFERENCES [dbo].[driver] ([driverId])
GO
ALTER TABLE [dbo].[routeMap] CHECK CONSTRAINT [FK_routeMap_driverId]
GO
ALTER TABLE [dbo].[routeMap]  WITH CHECK ADD  CONSTRAINT [FK_trailerId] FOREIGN KEY([trailerId])
REFERENCES [dbo].[trailer] ([trailerId])
GO
ALTER TABLE [dbo].[routeMap] CHECK CONSTRAINT [FK_trailerId]
GO
ALTER TABLE [dbo].[routeMap]  WITH CHECK ADD  CONSTRAINT [FK_truckId] FOREIGN KEY([truckId])
REFERENCES [dbo].[truck] ([truckId])
GO
ALTER TABLE [dbo].[routeMap] CHECK CONSTRAINT [FK_truckId]
GO
ALTER TABLE [dbo].[shippingRequest]  WITH CHECK ADD  CONSTRAINT [FK_shippingRequest_cityFrom] FOREIGN KEY([cityFrom])
REFERENCES [dbo].[city] ([cityId])
GO
ALTER TABLE [dbo].[shippingRequest] CHECK CONSTRAINT [FK_shippingRequest_cityFrom]
GO
ALTER TABLE [dbo].[shippingRequest]  WITH CHECK ADD  CONSTRAINT [FK_shippingRequest_cityTo] FOREIGN KEY([cityTo])
REFERENCES [dbo].[city] ([cityId])
GO
ALTER TABLE [dbo].[shippingRequest] CHECK CONSTRAINT [FK_shippingRequest_cityTo]
GO
ALTER TABLE [dbo].[shippingRequest]  WITH CHECK ADD  CONSTRAINT [FK_shippingRequest_customerId] FOREIGN KEY([customerId])
REFERENCES [dbo].[customer] ([customerId])
GO
ALTER TABLE [dbo].[shippingRequest] CHECK CONSTRAINT [FK_shippingRequest_customerId]
GO
ALTER TABLE [dbo].[trailer]  WITH CHECK ADD  CONSTRAINT [FK_trailer_cityPark] FOREIGN KEY([cityId], [parkId])
REFERENCES [dbo].[park] ([cityId], [parkId])
GO
ALTER TABLE [dbo].[trailer] CHECK CONSTRAINT [FK_trailer_cityPark]
GO
ALTER TABLE [dbo].[truck]  WITH CHECK ADD  CONSTRAINT [CityFKFomTruck] FOREIGN KEY([city])
REFERENCES [dbo].[city] ([cityId])
GO
ALTER TABLE [dbo].[truck] CHECK CONSTRAINT [CityFKFomTruck]
GO
ALTER TABLE [dbo].[truck]  WITH CHECK ADD  CONSTRAINT [FK_truck_driverId] FOREIGN KEY([driver])
REFERENCES [dbo].[driver] ([driverId])
GO
ALTER TABLE [dbo].[truck] CHECK CONSTRAINT [FK_truck_driverId]
GO
USE [master]
GO
